@import "@/sass/_variables.scss";
@import "@/sass/_mixins.scss";

.missions-page {
  height: 100%;

  padding: 20px 0;

  @include tablet {
    padding: 40px 0;
  }

  @include desktop {
    padding: 60px 0;
  }

  &__container.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
}
