@import "./../../styles/_variables.scss";
@import "./../../styles/_mixins.scss";

%link-style {
  display: inline-block;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.header {
  background-color: getColor("BlackColorTop");
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  &__container {
    padding: 15px 80px;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 50px;
    width: 50px;
    margin-right: 60px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    & .list__item {

      & .default-link {
        @extend %link-style;
        position: relative;
        transition: all 300ms linear;

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: getColor("LightTextHover");
          top: 49px;
          left: 0;
          opacity: 0;
          transition: all 400ms ease-in-out;
        }

        &:hover {
          color: getColor("LightTextHover");

          &::before {
            width: 100%;
            opacity: 1;
          }
        }
      }

      & .active-link {
        @extend %link-style;
        position: relative;
        color: getColor("LightTextActive");

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: getColor("LightTextActive");
          top: 49px;
          left: 0;
        }
      }
    }
  }
}
