@import "@/sass/_variables.scss";
@import "@/sass/_mixins.scss";

.header {
  background-color: getColor(BlackColorTop);
  box-shadow: 0 0 10px rgba(Black, 0.5);

  &__container.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;

    @include onlyTablet {
      padding: 15px 48px;
    }

    @include onlyMobile {
      padding: 10px 16px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;

    margin-right: 60px;

    @include onlyTablet {
      height: 40px;
      width: 40px;

      margin-right: 40px;
    }

    & img {
      height: 100%;
    }
  }

  &__local {
    height: 50px;
    width: 50px;

    margin-left: 60px;

    @include onlyTablet {
      height: 40px;
      width: 40px;

      margin-left: 40px;
    }
  }

  & .burger-menu-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;

    border-color: transparent;
    background-color: transparent;

    @include tablet {
      display: none;
    }

    z-index: 20;
  }
}
